<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link th:href="@{css/styles.css}" rel="stylesheet}" />
<script th:src="@{js/search.js}"></script>

</head>
<body>

<div class="container">
	<table class="table " id="del_list">
		<thead>
			<tr>
				<th>Del</th>
				<th>Typ</th>
				<th>Yta</th>
				<th>Enhet</th>
				<th>Hantverkare</th>
				<th>Intervall år</th>
				<th>Senast återgärd</th>
				<th>Material</th>
				<th>Kostnad</th>
				<th>Kommentar</th>

			</tr>
		</thead>
		<tbody>
			<tr data-th-each="delar: ${delar}">
				<td data-th-text="${delar.getName()}"></td>
				<td>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button"
							data-toggle="dropdown">
							Välj typ <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" >
							<li th:each="item : ${delar.getTypNamn()}"><a role="menuitem" tabindex="-1" data-th-text="${item}"></a></li>
						</ul>
					</div>

				</td>
				<td><input class="form-control" id="ex2" type="text"></input></td>
				<td></td>
				<td><input type="checkbox" value=""></input></td>

			</tr>

		</tbody>
	</table>
	<a class="btn btn-primary" href="/delar/new"> Summera</a>
	</div>
</body>
</html>
