<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bo I Norr</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link th:href="@{css/styles.css}" rel="stylesheet}" />

</head>
<body>
	<div class="container">
		<h1>Inmatning</h1>
		<form action="#" th:action="@{/new}" th:object="${basketitem}"
			method="get">
			<table class="table " id="del_list">
				<thead>
					<tr>
						<th>Del</th>
						<th>Typ/antal</th>
						<th>Yta</th>
						<th>Enhet</th>
						<th>Hantverkare</th>
						<th>Intervall år</th>
						<th>Senast återgärd</th>
						<th>Material kostnad</th>
						<th>Kommentar</th>

					</tr>
				</thead>

				<tbody>

					<tr>

						<td>
							<!-- Del drop down -->
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button"
									data-toggle="dropdown">
									Välj del <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
									<li th:each="item : ${session.delar}"><a role="menuitem"
										tabindex="-1" data-th-text="${item.name}"
										data-th-href="@{|delar/${item.name}|}"></a></li>
								</ul>

							</div>
							<h5 th:text="${session.del}"></h5>

						</td>
						<td>
							<!-- Typ dropdown -->
							<div class="dropdown">

								<button class="btn btn-default dropdown-toggle" type="button"
									data-toggle="dropdown">
									Välj del <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1"
									th:if="${del != null}">
									<li th:each="a: ${del.getTypNamn()}" th:unless="${del==null}"><a
										role="menuitem" tabindex="-1" data-th-text="${a}"
										data-th-href="@{|typer/${a}|}"></a></li>
								</ul>
							</div>

							<h5 th:text="${session.typ}"></h5>

						</td>

						<td><input class="form-control" id="ex2" type="number"
							th:field="*{yta}" required="true"></input></td>
						<td><p th:text="${typer.enhet}" th:unless="${typer==null}"></p>
						</td>
						<td><input type="checkbox" th:field="*{chbox}"></input></td>
						<td><p th:text="${typer.intervallAr}"
								th:unless="${typer==null}"></p></td>
						<td></td>
						<td><p th:text="${typer.materialInklMoms}"
								th:unless="${typer==null}"></p></td>
						<td th:text="${typer.getKommentar()}" th:unless="${typer==null}"></td>

					</tr>


				</tbody>

			</table>
			<div class="text-right">

				<input type="submit" value="Lägg till" class="btn btn-success"></input>

			</div>
		</form>
	</div>

	<div class="container">
		<h1>Din besiktning</h1>
		<table class="table table-striped " id="del_list">
			<thead>
				<tr>
					<th>Del</th>
					<th>Typ</th>
					<th>Yta/antal</th>
					<th>Hantverkare</th>
					<th>A'pris</th>
					<th>Kostnad</th>
					<th>Intervall</th>
					<th>Senast återgärd</th>
					<th>Planerat åtgärdsår</th>
					<th>Kommentar</th>

				</tr>
			</thead>
			<tbody th:if="${session.basketitems!=null}">
				<tr th:each="item: ${session.basketitems}">
					<td th:text="${item.getDelNamn()}"></td>
					<td th:text="${item.getTypNamn()}"></td>
					<td th:text="${item.getYta() + item.getTyp().getEnhet()}"></td>

					<td th:text="${item.getChbox()}"></td>
					<td th:text="${item.getApris()+ ' kr/' + item.getTyp().getEnhet()}"></td>
					<td
						th:text="${item.getKostnad()+ ' kr/' + item.getTyp().getEnhet()}"></td>
					<td th:text="${item.getTyp().getIntervallAr()}"></td>
					<td></td>
					<td></td>
					<td th:text="${item.getTyp().getKommentar()}"></td>
					<td><a class="btn btn-danger"
						th:href="@{|/delete/${item.id}|}">Ta bort</a></td>
				</tr>

			</tbody>
		</table>
	</div>

</body>
</html>
