<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bo I Norr</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link th:href="@{css/styles.css}" rel="stylesheet}" />
</head>
<body>
	<div class="container">
		<h2>Grunddata</h2>
		<p>Fyll i formulär nedanför</p>

		<form th:action="@{/nyGrunddata}" th:object="${grunddata}"
			method="get">

			<div class="col-xs-4">
				<div class="form-group">
					<label>Adress</label> <input type="text" th:field="*{adress}"
						class="form-control" required="true"></input>
				</div>
				<div class="form-group">
					<label>Fastighetsbeteckning</label> <input type="text"
						class="form-control" th:field="*{fastighetsbetckning}" required="true"></input>
				</div>
				<div class="form-group">
					<label>Byggår</label> <input type="number" class="form-control" th:field="*{byggAr}" required="true"></input>
				</div>
				<div class="form-group">
					<label>Hustyp</label> <select class="form-control" th:field="*{husTyp}" required="true" >
						<option value="fristående Villa">Fristående villa</option>
						<option value="Kedjehus">Kedjehus</option>
						<option value="parhus">Parhus</option>
						<option value="radhus">Radhus</option>
						<option value="lägenhet">Lägenhet</option>
					</select>
				</div>

				<div class="form-group">
					<label>Antal rum</label> <input type="number" class="form-control" th:field="*{rum}" required="true"></input>
				</div>
				<div class="form-group">
					<label>Antal planerade år</label> <input type="text"
						class="form-control" th:field="*{antalPlaneradeAr}" required="true"></input>
				</div>
				<div class="text-right">
					<input type="submit" class="btn btn-success" value="Nästa"></input>
				</div>
			</div>

		</form>
	</div>
</body>
</html>