<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bo I Norr</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link th:href="@{css/styles.css}" rel="stylesheet}" />
</head>
<body>
	<div class="container">
		<h2>Grunddata</h2>
		<p>Fyll i formulär nedanför</p>

		<form th:action="@{/delar}">

			<div class="col-xs-4">
				<div class="form-group">
					<label>Email address</label> <input type="text"
						class="form-control"></input>
				</div>
				<div class="form-group">
					<label>Fastighetsbeteckning</label> <input type="text"
						class="form-control"></input>
				</div>
				<div class="form-group">
					<label>Byggår</label> <input type="number" class="form-control"></input>
				</div>
				<div class="form-group">
					<label>Hustyp</label> <select class="form-control">
						<option>Fristående villa</option>
						<option>Kedjehus</option>
						<option>Parhus</option>
						<option>Radhus</option>
						<option>lägenhet</option>
					</select>
				</div>

				<div class="form-group">
					<label>Antal rum</label> <input type="number" class="form-control"></input>
				</div>
				<div class="form-group">
					<label>Antal planerade år</label> <input type="text"
						class="form-control"></input>
				</div>
				<div class="text-right">
					<input type="submit" class="btn btn-success" value="Nästa"></input>
				</div>
			</div>

		</form>
	</div>
</body>
</html>